<!doctype html>
<html ng-app="ProverbsApp">
  <head>
    <title>Proverbs</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="main.css">

    <script type="text/ng-template" id="template.search_form">
      <form novalidate class="form-inline">
	<fieldset ng-disabled="!sm.status.ready_ui()">
	  <div class="form-group">
	    <input type="text" ng-model="query.value" class="form-control"
		   placeholder="love [europe]">
	  </div>

	  <button type="submit" ng-click="update_location()" class="btn btn-default">
	    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	  </button>
	</fieldset>
      </form>
    </script>

    

    <script type="text/ng-template" id="template.search">
      <div ng-include="template_search_form_url"></div>

      <div class="my-search-results" ng-show="search_results.length > 0">
	<small>Found: {{ search_results.length }}</small>
	<div ng-include="template_proverb_table_url"></div>
      </div>

    </script>

    

    <script type="text/ng-template" id="template.proverb_table">
      <table class="table table-condensed">
	<tbody>

	  <tr ng-repeat="proverb in search_results">
	    <td>
	      <a href="#/id/{{ proverb.id }}">
		<span class="glyphicon glyphicon-link" aria-hidden="true">
		</span>
	      </a>
	    </td>
	    <td>
	      <span class="glyphicon glyphicon-copy" aria-hidden="true">
	      </span>
	    </td>
	    <td>{{ proverb.p }}</td>
	    <td>
	      <span ng-repeat="tag in proverb.t" class="my-search-results__tags">
		<a href="#/search?q=[{{ tag }}]"
		   class="btn btn-default btn-xs">
		  {{ tag }}
		</a>

	      </span>
	    </td>
	  </tr>

	</tbody>
      </table>
    </script>

    

    <script type="text/ng-template" id="template.id">
      <div ng-include="template_search_form_url"></div>

      <div class="my-search-results" ng-show="search_results.length > 0">
	<div ng-include="template_proverb_table_url"></div>
      </div>
    </script>

    

    <script type="text/ng-template" id="template.tags">
      <form novalidate class="form-inline">
	<fieldset ng-disabled="!sm.status.ready_ui()">
	  <div class="form-group">
	    <input type="search" ng-model="query" class="form-control"
		   placeholder="Filter" ng-trim="true">
	  </div>
	</fieldset>
      </form>

      <div class="my-search-results">
	<p ng-if="results.length > 0">
	  <small>Matched: {{ results.length }}</small>
	</p>

	<div class="row my-search-results__tags">
	  <div class="col-sm-3"
	       ng-repeat="tag in sm.tags | filter:query as results">
	    <a href="#/search?q=[{{tag.name}}]" class="btn btn-default btn-xs">{{ tag.name }}</a>
	    <small>&times; {{ tag.n }}</small>
	  </div>
	</div>
      </div>
    </script>

  </head>

  <body ng-controller="MainCtrl">

    <nav class="navbar navbar-default">
      <div class="container">

	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#my-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#/search?q=ukraine">Proverbs</a>
	</div>

	<div class="collapse navbar-collapse" id="my-navbar-collapse-1">
	  <ul class="nav navbar-nav">
	    <li ng-class="{'active': nav_current == 'search'}">
	      <a href="#/search">Search</a>
	    </li>
	    <li ng-class="{'active': nav_current == 'tags'}">
	      <a href="#/tags">Tags</a>
	    </li>
	  </ul>
	</div>

      </div>
    </nav>

    <div class="container">
      <noscript><h1>Hi, JavaScript disabled, what is life like for you?</h1></noscript>

      <div class="alert alert-warning" role="alert"
	   ng-show="sm.status.msg">{{ sm.status.msg }}</div>

      <div class="row">
	<div class="col-sm-9">
	  <div ng-view>Loading...</div>
	</div>
	<div class="col-sm-3">
	  Big Origin
	</div>
      </div>
    </div>

    <footer>
      <div class="container">
	Version: {{ ::meta.version }}<br>
	Source code & license: <a href="{{ ::meta.url }}">{{ ::meta.url }}</a>
      </div>
    </footer>

    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>

    <script src="main.js"></script>

  </body>
</html>
