@media (min-width: 601px) {
    body {
	width: 600px;
	margin: 0 auto;
    }
}

#qin-status {
    overflow: auto;
    border-bottom: 1px solid black;
}

#qin-stat {
    float: left;
}

#qin-reset {
    float: right;
}

#qend-results {
    width: 100%;
}