@import "bower_components/bootstrap/less/bootstrap.less";

@icon-font-path: "vendor/bootstrap/fonts/";
@text-color: #000;
@input-color: #000;

.navbar {
    border-radius: 0px;
}

nav {
//    margin-bottom: 0px !important;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid @gray-lighter;
    margin-bottom: 20px;

    ul {
        padding-left: 0px;
        list-style-type: none;
    }
}

.my-search-results {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-search-results__tags {
    line-height: 2em;
}
